<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<!-- <p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>
 -->

<p>
  <strong>Category:</strong>
  <%if @test.category_id.present? %> 
  <%= Category.find(@test.category_id).name %> 
    <% end %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
